<style>
  .email-details {
    width: 100%;
    height: 100%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  h2 {
    color: #333;
    margin-bottom: 10px;
  }

  .info {
    color: #888;
    margin-bottom: 10px;
  }

  .email-content {
    line-height: 1.6;
    margin-bottom: 20px;
  }

  .attachment {
    color: #3498db;
    text-decoration: none;
  }
</style>

<main>
  <div class="email-details">
    <h2>
      <%= email.subject %>
    </h2>
    <p class="info">From: <%= email.senderFullName %> &lt;<%= email.senderEmail %>&gt;</p>
    <p class="info">To: <%= email.recipientFullName %> &lt;<%= email.recipientEmail %>&gt;</p>
    <p class="info">Sent: <%= new Date(email.timeSent).toLocaleString() %>
    </p>

    <div class="email-content">
      <%= email.body %>
    </div>

    <% if (typeof email.attachmentSavedName !=='undefined' && email.attachmentSavedName) { %>
      <div class="attachment">
        Attachment: <a href="/attachment/<%= email.id %>">
          <%= email.attachmentOriginalName %>
        </a>
      </div>
      <% } %>
  </div>
</main>
