<main>
  <ul>
    <% receivedEmails.forEach(function(email) { %>
      <li>
        <%= email.senderFullName %>,
          <%= email.senderEmail %>,
            <%= email.subject %>,
              <%= email.body %>
      </li>
      <% }); %>
  </ul>
  <%= JSON.stringify(receivedEmails) %>
</main>
