<style>
  * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
  }

  .email-list {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    height: 100%
  }

  .email-topbar {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 0
  }

  .email-topbar label {
    flex: .5;
    margin-right: 10px
  }

  .email-topbar .options {
    flex: 5
  }

  .email-topbar .messages {
    flex: 1
  }

  .delete-button {
    background-color: #171717;
    color: #fff;
    border: 0;
    padding: 10px 15px;
    cursor: pointer
  }

  .delete-button:hover {
    background-color: #dc3545
  }

  .email-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 0
  }

  input[type=checkbox] {
    margin-left: 20px;
    margin-right: 20px;
    width: 20px;
    height: 20px
  }

  .recipient-name {
    flex: .5;
    margin-right: 10px;
    font-weight: 700
  }

  .email-content {
    flex: 5;
    margin-right: 10px
  }

  .email-body {
    height: 1.375em
  }

  .email-meta {
    flex: 1;
    font-size: .8em;
    color: #888
  }

  .page-link {
    margin: 0 5px;
    cursor: pointer
  }

  .current-page {
    font-weight: 700
  }

  .pagination {
    flex: 1;
    display: inline-block
  }

  .pagination a {
    color: #000;
    float: left;
    padding: 8px 16px;
    text-decoration: none
  }

  .pagination a.current-page {
    background-color: #22c55e;
    color: #fff
  }

  .pagination a:hover:not(.current-page) {
    background-color: #ddd
  }

  .error-message {
    color: #ef4444
  }

  .success-message {
    color: #15803d
  }
</style>

<main>
  <ul class="email-list">
    <li class="email-topbar">
      <input type="checkbox" name="checkAll" id="checkAll" onchange="handleCheckAllChange()">
      <label for="checkAll">Check all</label>
      <div class="options">
        <button id="deleteButton" class="delete-button" onclick="handleDelete()">Delete Selected</button>
      </div>
      <div class="messages" id="messages"></div>
    </li>
    <% sentEmails.forEach(function(email) { %>
    <li class="email-item" onclick="redirectToEmail('<%= email.id %>')" style="cursor: pointer;">
      <input type="checkbox" name="checkboxDelete" onchange="handleCheckboxChange()" value="<%= email.id %>">
      <span class="recipient-name">
        <%= email.recipientFullName %>
      </span>
      <div class="email-content">
        <h3 class="email-subject">
          <%= email.subject ? email.subject: '(no subject)' %>
        </h3>
        <p class="email-body">
          <%= email.body %>
        </p>
      </div>
      <div class="email-meta">
        <span class="time">
          <%= new Date(email.timeSent).toLocaleString() %>
        </span>
      </div>
    </li>
    <% }); %>
  </ul>

  <div class="pagination">
    <% const visiblePages=5; %>
    <% const startPage=Math.max(currentPage - Math.floor(visiblePages / 2), 1); %>
    <% const endPage=Math.min(startPage + visiblePages - 1, totalPages); %>

    <% if (currentPage> 1) { %>
    <a href="/outbox/<%= Math.max(currentPage - 1, 1) %>" class="page-link">&laquo;</a>
    <% } %>

    <% for (let i=startPage; i <=endPage; i++) { %>
    <a href="/outbox/<%= i %>" class="page-link <%= i === currentPage ? 'current-page' : '' %>">
      <%= i %>
    </a>
    <% } %>

    <% if (currentPage < totalPages) { %>
    <a href="/outbox/<%= Math.min(currentPage + 1, totalPages) %>" class="page-link">&raquo;</a>
    <% } %>
  </div>
</main>

<script>
  function redirectToEmail(emailId) {
    const targetElement = event.target;
    if (targetElement.tagName !== 'INPUT') {
      window.location.href = `/outbox/email/${emailId}`;
    }
  }

  function handleCheckAllChange() {
    const checkAllCheckbox = document.getElementById('checkAll');
    const checkboxes = document.querySelectorAll('input[type="checkbox"]');
    checkboxes.forEach((checkbox) => {
      checkbox.checked = checkAllCheckbox.checked;
      checkbox.dispatchEvent(new Event('change'));
    });
  }

  async function handleDelete() {
    const checkboxes = document.querySelectorAll('input[name="checkboxDelete"]:checked');
    const messagesDiv = document.getElementById('messages');

    if (checkboxes.length === 0) {
      messagesDiv.innerHTML = '<div class="error-message">Please select at least 1 email.</div>';
      return;
    }

    const emailIds = Array.from(checkboxes).map((checkbox) => checkbox.value);

    try {
      const response = await fetch('/api/emails', {
        method: 'DELETE',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          emailIds,
        }),
      });

      if (response.ok) {
        checkboxes.forEach((checkbox) => {
          const emailItem = checkbox.closest('.email-item');
          emailItem.remove();

          checkbox.checked = false;
          const checkAllCheckbox = document.getElementById('checkAll');
          checkAllCheckbox.checked = false;
        });

        messagesDiv.innerHTML = '<div class="success-message">Emails deleted successfully.</div>';
      } else {
        const data = await response.json();
        console.error(data.error);

        messagesDiv.innerHTML = `<div class="error-message">${data.error}</div>`;
      }
    } catch (error) {
      console.error('Error:', error);

      messagesDiv.innerHTML = '<div class="error-message">An unexpected error occurred.</div>';
    }
  }
</script>
