<link rel="stylesheet" href="/styles/signup.css">
<main>
  <form id="signupForm" action="/signup" method="post">
    <h1>Sign Up</h1>

    <label>Full Name:</label><br>
    <input id="fullNameInput" type="text" name="fullName"
      value="<%= typeof fullName != 'undefined' && fullName || '' %>" required><br>

    <label>Email:</label><br>
    <input id="emailInput" type="email" name="email" value="<%= typeof email != 'undefined' && email || '' %>"
      required><br>

    <label>Password:</label><br>
    <input id="passwordInput" type="password" name="password"
      value="<%= typeof password != 'undefined' && password || '' %>" required><br>

    <label>Repeat Password:</label><br>
    <input id="rePasswordInput" type="password" name="rePassword"
      value="<%= typeof rePassword != 'undefined' && rePassword || '' %>" required><br>

    <input type="submit" value="Sign Up">

    <% if (typeof errMessages !='undefined' && errMessages && errMessages.length> 0) { %>
      <div class="error-messages">
        <% errMessages.forEach(function(message) { %>
          <p>
            <%= message %>
          </p>
          <% }); %>
      </div>
      <% } %>

        <a href="/">Sign In</a>
  </form>
</main>
